ncmpcpp/error.log
mpd/log
mpd/database
mpd/pid
mpd/sticker.sql
rofi/.git

.avalonia-build-tasks/
QtProject.conf
Trilium Notes/
arkrc
autostart/
dconf/
fcitx/
fcitx5/

gtk-2.0/
ibus/
kdeglobals
libfm/
microsoft-edge/
mimeapps.list
neofetch/
networkmanager-dmenu/

pulse/
systemd/
user-dirs.dirs
user-dirs.locale








